# Database PostgreSQL
POSTGRES_USER=idrojone
POSTGRES_PASSWORD=idrojone_user
POSTGRES_DB=users_db
POSTGRES_IMAGE=postgres:15-alpine
POSTGRES_CONTAINER_NAME=postgres
POSTGRES_PORT=5432
POSTGRES_HOST=localhost


# Frontend React
VITE_PORT=4000
VITE_API_URL=http://localhost:4001/api
FRONTEND_PORT=4000
VITE_HOST=0.0.0.0

# Gateway
GATEWAY_PORT=4001
GATEWAY_CONTAINER_NAME=gateway
GATEWAY_IMAGE=nginx:alpine


# Springboot Backend
SPRINGBOOT_CONTAINER_NAME=springboot
SPRING_APPLICATION_NAME=springboot-backend
SPRINGBOOT_PORT=4002

# DB Config
SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/users_db
SPRING_DATASOURCE_USERNAME=idrojone
SPRING_DATASOURCE_PASSWORD=idrojone_user
SPRING_DATASOURCE_DRIVER_CLASS_NAME=org.postgresql.Driver

# --- Schema Init ---
SPRING_SQL_INIT_MODE=never
SPRING_JPA_DEFER_DATASOURCE_INITIALIZATION=false

# JPA
SPRING_JPA_HIBERNATE_DDL_AUTO=update
SPRING_JPA_SHOW_SQL=true
SPRING_JPA_PROPERTIES_HIBERNATE_FORMAT_SQL=true
SPRING_JPA_OPEN_IN_VIEW=false
LOGGING_LEVEL_ORG_HIBERNATE_SQL=DEBUG

# JWT
JWT_SECRET=winteriscomingwinteriscomingwinteriscoming
JWT_EXPIRATION=3600000
JWT_REFRESH_EXPIRATION=86400000

# Swagger
SPRINGDOC_SWAGGER_UI_PATH=/swagger-ui.html
SPRINGDOC_API_DOCS_PATH=/api-docs
SPRINGDOC_SWAGGER_UI_ENABLED=true

#PgAdmin
PGADMIN_DEFAULT_EMAIL=admin@admin.com
PGADMIN_DEFAULT_PASSWORD=root
